*{
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 370px;
}

.up_row{
  margin-top: 25px;
}

.sconto{
  position: absolute;
  top: 0;
  right: 0;
}

.green{
  background: green;
}

.red{
  background: red;
}

.icon_heart{
  color: red;
  position: absolute;
  bottom: 10px;
  left: 145px;
  display: none;
}

.product:hover .icon_heart{
  display: block;
}

.product:hover{
  cursor: pointer;
}

footer{
  margin-top: 5px;
  text-align: center;
}
