*{
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 370px;
}

.up_row{
  margin-top: 30px;
}

.sconto{
  position: absolute;
  top: 0;
  right: 0;
}

.green{
  background: green;
}

.red{
  background: red;
}
